
.cart {
    width: 100%;
    height: auto;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.cartLeft {
    width: 70%;
    border-bottom: 3px #8B674F solid;
}

.cartRight {
    width: 30%;
    margin: 2% 3%;
    padding-left: 3%;
    border-left: 2px solid #8B674F;
}

.cartLeft .cartTitle {
    display: flex;
    justify-content: space-between;
    padding: 4% 1%;
}

.cartRight .cartTitle {
    padding: 4% 1%;
}

.cartLeft .product .productList {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    position: relative;
}
.hiddenIcon{
    display: none;
}
.hiddenConfirm{
    display: none;
    background-color: #577ABD;
    color: #f4f4f4;
    margin: 20px 10px;
    padding: 5px;
    width: 40px;
    height: 73%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.hiddenConfirm i{
    font-size: 20px;
}

.cartLeft .product .productList:nth-child(1) {
    border-top: 3px solid #000;
    border-bottom: none;
    padding: 10px;
}

.cartLeft .product .productList #detail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cartLeft .product .productList #detail {
    width: 15%;
}

.cartLeft .product .productList #productName,
.cartLeft .product .productList #price,
.cartLeft .product .productList #qty,
.cartLeft .product .productList #amount {
    width: 20%;
    text-align: center;
}

.cartLeft .product .productList #productName{
    text-align: left;
}

.cartLeft .product .productList #remove {
    width: 5%;
    text-align: center;
}

.cartLeft .product .productList #remove button {
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.cartLeft .product .productList #remove a{
    color: black;
}

.cartLeft .product .productList #qty input {
    width: 45px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    color: gray;
}
.cartLeft .product .productList #qty input:focus{
    outline: none;
}

.cartLeft .product .productList .add,
.productList .minus {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 25px;
    padding: 5px 8px;
}
.cartRight .product .productList:nth-child(1),
.cartRight .product .productList:nth-child(5){
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.shipping,
.promoCode {
    width: 100%;
    height: 40px;
    background-color: white;
}

.promoCode {
    border: 1px solid black;
    padding: 0 15px;
}

.promoCode:focus,
.shipping:focus {
    outline: none;
}

#shipping,
#promo {
    padding: 15px 10px;
    line-height: 50px;
}

#promo .apply {
    padding: 10px 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 4px solid #8B674F;
    transition: all ease .2s;
    margin-top: 10px;
}

#promo .apply:hover {
    background-color: #8B674F;
    color: white;
}

.checkout {
    width: 100%;
    height: 50px;
    background-color: #8B674F;
    color: white;
    border: none;
    font-size: 20px;
}

.promotionBar {
    top: 0;
    display: flex;
    width: inherit;
    position: fixed;
    min-width: inherit;
    justify-content: center;
    align-items: center;
    background-color: #8B674F;
    height: 50px;
    color: white;
    z-index: 1;
}

.promotionBar a {
    color: white;
}
#tax{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 5px;
}
.taxInput{
    width: 50px;
    border: none;
    background-color: transparent;
    text-align: center;    
}
.taxInput:focus{
    outline: none;
}